<div class="explore-parent">
    <div class="container">
        <div class="destinations-buttons-parent">
            <div class="desti-button">
                <div class="desti-img-parent">
                    <div class="desti-img"></div>
                </div>
                <div class="desti-lable-parent">
                    <div class="desti-lable">Trending</div>
                </div>
            </div>
            <div class="desti-button">
                <div class="desti-img-parent">
                    <div class="desti-img"></div>
                </div>
                <div class="desti-lable-parent">
                    <div class="desti-lable">Trending</div>
                </div>
            </div>
            <div class="desti-button">
                <div class="desti-img-parent">
                    <div class="desti-img"></div>
                </div>
                <div class="desti-lable-parent">
                    <div class="desti-lable">Trending</div>
                </div>
            </div>
            <div class="desti-button">
                <div class="desti-img-parent">
                    <div class="desti-img"></div>
                </div>
                <div class="desti-lable-parent">
                    <div class="desti-lable">Trending</div>
                </div>
            </div>
            <div class="desti-button">
                <div class="desti-img-parent">
                    <div class="desti-img"></div>
                </div>
                <div class="desti-lable-parent">
                    <div class="desti-lable">Trending</div>
                </div>
            </div>
            <div class="desti-button">
                <div class="desti-img-parent">
                    <div class="desti-img"></div>
                </div>
                <div class="desti-lable-parent">
                    <div class="desti-lable">Trending</div>
                </div>
            </div>
            <div class="desti-button">
                <div class="desti-img-parent">
                    <div class="desti-img"></div>
                </div>
                <div class="desti-lable-parent">
                    <div class="desti-lable">Trending</div>
                </div>
            </div>

            <div class="desti-button">
                <div class="desti-img-parent">
                    <div class="desti-img"></div>
                </div>
                <div class="desti-lable-parent">
                    <div class="desti-lable">Trending</div>
                </div>
            </div>
        </div>
        <div class="destinations-parent">
            <div class="title-parent">
                <div class="title"><span class="desti-lable">Trending Videos</span></div>
            </div>
            <div class="destinations">
                <!-- <app-tickets></app-tickets> -->
              
                <div class="destination-tickets-container">
                      <!-- <app-home-tickets></app-home-tickets> -->
                    <app-tickets *appFor="let item of [1,2,3,4,5,6,7,8,9]"></app-tickets> 
                </div>
            </div>
        </div>
    </div>
</div>