<div class="header-parent">
    <div class="header">
        <div class="guide-img-container">
            <div class="guide-container">
               <button class="guide"></button>
            </div>
            <div class="img-container">
                <a href="">
                    <div class="logo"></div>
                </a>
            </div>
        </div>
        <div class="search-voice-container">
            <div class="search-container">
                <div class="text-area">
                    <input type="text" placeholder="Search">
                </div>
                <div>
                    <button class="icon-area">
                        <span class="search-icon"></span>
                    </button>
                </div>
            </div>
            <div class="voice-container">
                <a href="">
                    <div class="voice-icon"></div>
                </a>
            </div>
        </div>
        <div class="icons-container">
            <div class="i1">
               <a href="">
                   <div id="video" class="icons"></div>
               </a>
            </div>
            <div class="i1">
               <a href="">
                   <div id="apps" class="icons"></div>
               </a>
            </div>
            <div class="i1">
               <a href="">
                   <div id="notification" class="icons"></div>
               </a>
            </div>
            <div class="i1">
               <a href="">
                   <div id="profile" class="icons"></div>
               </a>
            </div>
        </div>
    </div>
</div>