.parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.content{
    margin-top: 20px;
    width: 1200px;
    /* border: 1px solid; */
    display: flex;    
}
.video-container{
    /* border: 1px solid; */
    width: max-content;
    height: max-content;
}
.video-details{
    width: 100%;
    /* height: 100px; */
    /* border: 1px solid; */
    padding: 20px 2px 2px 10px;
}
.title{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #030b1a;
}
.views-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-container{
    margin-top: 12px;
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.button{
    width: 60px;   
    display: flex;
    align-items: center;
}
.views-container{
    display: flex;
    align-items: center;
}
.views{
    font-size: 16px;
    color: #606060;
    padding: 4px;
}
.lable{
    font-size: 20px;
    font-weight: 500;
    padding-left: 3px;
    /* padding: 4px; */
    letter-spacing: 0.5px;
    color: #030303;
    font-family: "Roboto","Arial",sans-serif;
}
.button-wrapper{
    width: 30px;
    /* height: 30px; */
    display: flex;    
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}
.secondary-container{
    padding: 0px 1px 1px 20px;
    width: 100%;
    display: flex;
    /* border: 1px solid; */
}
.secondary-content{
    /* border: 1px solid; */
    width: 430px;
}
.tags-container{   
    /* border: 1px solid; */
    width: 100%;
    overflow-x: auto;
}
.tags-container::-webkit-scrollbar{
    display: none;
}
.tags-wrapper{
    display: flex;
}
.tags{
    margin: 6px;
    padding: 9px 21px;   
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #030303;
    border-radius: 18px;
    font-size: 14px;
}
.tickets-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}