.title-wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
}
.title{   
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;    
}    
#anchor{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #030303;   
}
.button-wrapper{
    width: 30px;
    height: 30px;
    display: flex;    
    justify-content: center;
    align-items: center;
}
