<div class="parent">
    <div class="title-parent">
        <div class="title"><h3><span>Comdey</span></h3></div>
    </div>
    <div class="content">
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
        <app-channel></app-channel>
    </div>
</div>